@media only screen and (max-width: 480px) {
    .wrapper {
        display: grid;
        grid-template-columns: repeat(1, 100%);
    }
}

@media only screen and (min-width: 481px) {
    .wrapper {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        justify-items: center;
    }
}

.harare-img {
    display: grid;
    grid-template-columns: 100%;
    grid-auto-rows: minmax(auto, 300px);
    justify-items: center;
    height: 100px;

}

#harare {
    border-radius: 50%;
    width: 50%;
    height: auto;
}

@media all and (max-width:30em) {
    .button2 {
        display: block;
        margin: 0.4em auto;
    }
}

button {
    background-color: white;
}

button:hover {
    background-color: black;
    font-size: 30px;
    color: white;
}

h1,
h3 {
    text-align: center;
}

/* .hotels {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    align-content: center;

} */